body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100vh;
  margin: 10px;
  padding: 20px;
  -webkit-box-shadow: 0px 9px 30px 0px rgba(51, 51, 50, 0.45);
  -moz-box-shadow: 0px 9px 30px 0px rgba(51, 51, 50, 0.45);
  box-shadow: 0px 9px 30px 0px rgba(51, 51, 50, 0.45);
}

input {
  padding: 7px;
  width: 30rem;
  margin: 0 0 10px 0;
  border-radius: 4px;
  border: 1px solid black;
}

.add-more-section-btn {
  padding: 5px;
  border: 1px solid white;
  background-color: #32DE8A;
  border-radius: 4px;
  cursor: pointer;
}

.save-btn {
  width: 200px;
}